<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Artworks!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://unpkg.com/ace-css/css/ace.min.css" rel="stylesheet">
    <style type="text/css">
      .nav-title {
        color: #555;
        font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        border-bottom: 1px solid black;
        height: 50px
      }
    </style>
  </head>

  <body>
      <nav class="clearfix black nav-title">
        <div class="sm-col">
          <a href="/" class="btn py2">Home</a>
          <a href="/" class="btn py2">Works</a>
          <a href="/" class="btn py2">About me</a>
        </div>
        <div class="sm-col-right">
          <a href="/" class="btn py2">Contact</a>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  </body>
</html>
