<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Artworks!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://unpkg.com/ace-css/css/ace.min.css" rel="stylesheet">
    <style type="text/css">
      .nav-title {
        color: #9D9D9D;
        font-weight: 400;
        width: 15%;
      }
    </style>
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <nav class="clearfix bg-darken-1 nav-bar">
      <div class="sm-col col-12 center">
        <a href="/" class="btn py2 nav-title">Home</a>
        <a href="/" class="btn py2 nav-title">Works</a>
        <a href="/" class="btn py2 nav-title">About me</a>
        <a href="/" class="btn py2 nav-title">Contact</a>
      </div>
    </nav>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <!-- CONTENT -->
    <div class="sm-col col-12">
        <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
